.App {
  text-align: center;
}

.shadow-style {
  box-shadow: 1px 4px 10px 1px rgb(156, 12, 234);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.round {
  border-radius: 0 0 150% 150%/0 0 50% 50%;
}
 /* @media only screen and (max-width: 1535px) {
  .eyeSmall{
    margin-left: 650px;
  }
} */
@media only screen and (min-width: 1395px) and (max-width: 1535px) {
  .eyeSmall{
    margin-left: 270px;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1394px) {
  .eyeSmall{
    margin-left: 260px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1279px) {
  .eyeSmall{
    margin-left: 550px;
  }
}
 /* @media only screen and (max-width: 1293px) {
  .eyeSmall{
    margin-left: 495px;
  }
}   */
@media only screen and (max-width: 1200px) {
  .eyeSmall{
    margin-left: 485px;
  }
}
@media only screen and (max-width: 1150px) {
  .eyeSmall{
    margin-left: 455px;
  }
}
@media only screen and (max-width: 1023px) {
  .eyeSmall{
    margin-left: 680px;
  }
}
@media only screen and (max-width: 1000px) {
  .eyeSmall{
    margin-left: 630px;
  }
}
@media only screen and (max-width: 950px) {
  .eyeSmall{
    margin-left: 600px;
  }
}
@media only screen and (max-width: 900px) {
  .eyeSmall{
    margin-left: 580px;
  }
}
@media only screen and (max-width: 850px) {
  .eyeSmall{
    margin-left: 540px;
  }
}
@media only screen and (max-width: 800px) {
  .eyeSmall{
    margin-left: 500px;
  }
}
@media only screen and (max-width: 750px) {
  .eyeSmall{
    margin-left: 460px;
  }
}
@media only screen and (max-width: 700px) {
  .eyeSmall{
    margin-left: 420px;
  }
}
@media only screen and (max-width: 650px) {
  .eyeSmall{
    margin-left: 390px;
  }
}

@media only screen and (max-width: 600px) {
  .eyeSmall{
    margin-left: 355px;
  }
}
@media only screen and (max-width: 545px) {
  .eyeSmall{
    margin-left: 325px;
  }
}
@media only screen and (max-width: 516px) {
  .eyeSmall{
    margin-left: 300px;
  }
}
@media only screen and (max-width: 483px) {
  .eyeSmall{
    margin-left: 290px;
  }
}
@media only screen and (max-width: 469px) {
  .eyeSmall{
    margin-left: 270px;
  }
}
@media only screen and (max-width: 442px) {
  .eyeSmall{
    margin-left: 250px;
  }
}
@media only screen and (max-width: 414px) {
  .eyeSmall{
    margin-left: 220px;
  }
}


@media only screen and (max-width: 639px) {
  .navColor {
    background-color: #056964;
    color: white;
  }

  .navText {
    background-color: #056964;
    color: white;
  }

  .bookType {
    text-align: center;
  }

  .books {
    grid-template-columns: repeat(1, 1fr);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}